<!-- NAV -->
    <nav>
      <a href="#" class="logo">
        <img src="../imgs/valley-built-logo-nav.png" alt="Valley Built" />
      </a>
      <ul class="nav-right">
        <li class="hide-mob"><a href="#why">Why a Website</a></li>
        <li class="hide-mob"><a href="#serve">Who We Serve</a></li>
        <li class="hide-mob"><a href="#process">Our Process</a></li>
        <li>
          <a
            href="https://calendly.com/valleybuiltllc/30min"
            target="_blank"
            class="cta-btn"
            >Schedule a Call</a
          >
        </li>
      </ul>
    </nav>
